.error {
  color: #ff4a45;
  font-size: 12px;
  margin-top: 4px;
}

.register-card {
  min-width: 355px;
  margin: 200px 0 0 0;
  background: var(--gray-color);
  border-radius: 20px;
  border-color: var(--light-gray-color);
}

.register-card__input {
  width: 300px;
  border-radius: 7px;
  background-color: var(--dark-color);
  border-color: var(--dark-color);
  color: var(--light-color);
}

.ant-radio-button-wrapper {
  background-color: var(--dark-color);
  color: var(--light-color);
  border-color: var(--light-gray-color);
}

