.error {
  color: #ff4f4b;
  font-size: 12px;
  margin-top: 4px;
}

.login-card {
  min-width: 355px;
  margin: 200px 0 0 0;
  //background: var(--gray-color);
  //border-radius: 20px;
  //border-color: var(--light-gray-color);
}

.login-card__input {
  width: 300px;
  border-radius: 7px;
  background-color: var(--dark-color);
  border-color: var(--dark-color);
  color: var(--light-color);
}
