* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #151515;
  --gray-color: #353535;
  --light-gray-color: #4e4e4e;
  --light-color: #dddddd;
  --white-color: #f8f8f8;
}

body {
  background-color: var(--dark-color);
  color: var(--white-color);
}

//* {
//  color: var(--white-color);
//}

