<div nz-flex nzJustify="center" class="forgot-password-container">
  <nz-card class="forgot-password-card">
    <h2 style="color: var(--white-color)">Forgot Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <nz-space nzSize="middle" nzDirection="vertical">
        <div *nzSpaceItem>
          <input
            nz-input
            formControlName="email"
            placeholder="Enter your email"
            class="forgot-password-card__input" />
          <div *ngIf="forgotPasswordForm.controls.email.invalid && forgotPasswordForm.controls.email.touched" class="error">
            <div *ngIf="forgotPasswordForm.controls.email.errors?.['required']">Email is required</div>
            <div *ngIf="forgotPasswordForm.controls.email.errors?.['email']">Invalid email format</div>
          </div>
        </div>

        <div *nzSpaceItem>
          <button
            nz-button
            nzType="primary"
            type="submit"
            [disabled]="forgotPasswordForm.invalid || isLoading"
            style="border-radius: 7px;">
            <nz-spin *ngIf="isLoading" nzSimple></nz-spin>
            Send Reset Link
          </button>
        </div>

        <div *nzSpaceItem>
          <button
            nz-button
            nzType="link"
            nzSize="small"
            style="padding: 0 0 0 0"
            [routerLink]="'/login'">
            Back to Login
          </button>
        </div>

        <nz-alert
          *ngIf="successMessage"
          nzType="success"
          [nzMessage]="successMessage"
          nzShowIcon
          nzCloseable
          (nzOnClose)="successMessage = null">
        </nz-alert>

        <nz-alert
          *ngIf="errorMessage"
          nzType="error"
          [nzMessage]="errorMessage"
          nzShowIcon
          nzCloseable
          (nzOnClose)="errorMessage = null">
        </nz-alert>
      </nz-space>
    </form>
  </nz-card>
</div>
